<h1>Tasks</h1>

<% @tasks.each do |task| %>
<li><%= link_to task.title, task_path(task) %></li>
<%= link_to "Delete #{task.title}", 
  destroy_task_path(task),
  method: :delete %>
<% end %>

<p><%= link_to "Add task", new_task_path %></p>

<%# <i class="far fa-check- square"></i> %>
<%# <%= link_to "DELETE", tasks_path %>
